@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Manrope", sans-serif;
 
  cursor: none;
}
/* #5044E5 */
@theme {
  --color-primary:#5044E5;
}